* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* <-------- scrollbar style-------> */
::-webkit-scrollbar {
    width: 14px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  }
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: dodgerblue;
}

/* <---------- anchar tag style ---------> */
a {
    text-decoration: none;
    color: black;
}
a p {
    padding: 5px 20px;
    width: 100%;
    color: white;
}
a p:hover {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: skyblue;
    box-shadow: 2px 2px 6px black;
}
span:hover i {
    color: white;
}

/* <------------ logo style -------------> */
.naving {
    width: 100%;
    min-height: 16vh;
    position: relative;
}
.logo {
    width: 100%;
    background-color: black;
    padding: 5pt 10pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}
.logo img {
    width: 250px;
    
}
.logo div input {
    width: 300px;
    height: 34px;
    padding: 8px;
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    outline: none;
}
.logo div input:hover {
    outline: none;
} 
.logo div {
    box-shadow: 0px 0px 10px white;
    border: 2px solid white;
    width: 350px;
    height: 40px;
}
.logo div i {
    cursor: pointer;
    border-left: 2px solid white;
    color: white;
    font-size: 16px;
    padding: 10px 12px;
}
.logo div i:hover {
    background-color: white;
    color: black;
}
.logo figure {
    color: white;

}
.logo figure p {
    font-size: 14px;
}
.logo figure h3 {
    font-size: 14px;
}
a i {
    color: black;
}
/* <---------- navbar style ------------> */
.navbar img {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    animation-name: image;
    animation-duration: 2s;
}
@keyframes image {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0px);
    }
}
/* <--------------- navbar ---------> */
.shopy {
    position: relative;
}
.navbar div .shopco {
    display: none;
    width: 200px;
    transition: all 2s;
    position: absolute;
    padding: 10px;
    left: 3px;
    top: 30px;
    background-color: rgba(0, 0, 0, 0.5);

}
.navbar .shopy:hover .shopco {
    display: block;
    display: flex;
    flex-direction: column;
}
.shopy1 {
    position: relative;
}
.navbar div .shopco1 {
    display: none;
    font-size: 14px;
    width: 200px;
    transition: all 2s;
    position: absolute;
    padding: 10px;
    top: 30px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);

}
.shopco1 p {
    padding: 5px;
}
.shopco1 p:hover {
    background-color: silver;
    color:blue;
}
.shopco1 p i {
    background: none;
}
.shopco1 p .fa-regular {
    font-size:18px ;
}
.navbar .shopy1:hover .shopco1 {
    display: block;
    display: flex;
    flex-direction: column;
}
.cus {
    border-bottom: 1px solid white;
}
select:hover{
    color: white;
}

select {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    shape-outside: none;
}
.navbar .shopy:hover > select {
    transform: rotatex(180deg);
    color: white;

}

.navbar {
    position: fixed;
    z-index: 999;
    top: 50px;
    width: 100%;
    height: 45px;
    padding: 3px 20px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right,rgb(24, 24, 24),white) ;
}
.navbar div {
    float: right;
    transition: all 2s;
    animation-name: nav;
    animation-duration: 2s;
}
@keyframes nav {
    from {
        transform: translatey(-20px);
        opacity: 0;
    }
    to {
        transform: translatey(0px);
    }
}

.navbar span {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 16px;
    margin-right:10px ;
    padding: 5px 20px;
    font-weight:800;
}

.navbar span:hover {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: skyblue;
    box-shadow: 2px 2px 6px black;
}
.navbar section {
    display: inline;
}
.navbar section button {
    cursor: pointer;
    width: 100px;
    padding:8px 6px;
    font-size: 12px;
    border-radius: 20px;
    color: dodgerblue;
    border: 1px solid black;
    margin-right:20px ;

}
.navbar section button:hover {
    box-shadow: 0px 0px 4px black;
    background-color: skyblue;
    color: white;

}
.navbar .fa-user {
    background: none;
    font-size:12px ;
}

/* .fa-cart-shopping:hover span {
    display: block;
} */
.navbar .fa-heart, .fa-cart-shopping {
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    background: none;
}
.navbar .fa-cart-shopping:hover, .fa-heart:hover {
    background-color: black;
    box-shadow: 0px 0px 4px rgb(118, 100, 100);
    color: white;
    border-radius: 50%;
}
.navbar label i {
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
}
.navbar input, .navbar .fa-bars {
    display: none;
}
.navbar>input:checked~div {
    /* background-color: skyblue; */
    left: 0%;

}

@media screen and (min-width:300px) and (max-width:600px) {
    .naving {
        min-height: 31vh;
    }
    .logo {
        flex-direction: column;
        gap: 5px;
    }
    .logo img {
        width: 180px;
    }
    .logo div input {
        width: 170px;
        height: 34px;
        padding: 6px 10px;
        font-size: 12px;
    }
    
    .logo div {
        border: 2px solid white;
        width: 220px;
        height: 37px;
    }
    .logo div i {
        color: white;
        border-left: 2px solid white;
        font-size: 14px;
        height: 34px;
        width: 41.9px;
        padding: 10px 14px;
    }
    .navbar {
        top: 120px;
    }
    .navbar div {
        width: 100%;
        height: 90vh;
        padding: 20px;
        position: fixed;
        background-color:white;
        color: black;
        display: flex;
        top: 165px;
        flex-direction: column;
        left: -100%;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }
    .navbar .fa-bars {
        display: block;
    }
    .navbar {
        padding: 5px;
    }
    .navbar div .shopco {
        right: 0;
        left: 30px;
        z-index: 10;
    }
    .slideshow-container .navigation {
        left: 10px;
    }
    
    
}

@media screen and (min-width:600px) and (max-width:900px) {
    .naving {
        height: 18vh;
    }
    .logo img {
        width: 200px;
    }
    .logo div input {
        width: 170px;
        height: 34px;
        padding: 6px 10px;
        font-size: 12px;
    }
    
    .logo div {
        border: 2px solid white;
        width: 221px;
        height: 37px;
    }
    .logo div i {
        color: white;
        border-left: 2px solid white;
        font-size: 14px;
        padding: 9px 13px;
    }
    .navbar div {
        width: 50%;
        height: 90vh;
        position: fixed;
        background-color:white;
        display: flex;
        color: black;
        top: 95px;
        flex-direction: column;
        left: -100%;
        justify-content: start;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }
    .navbar .fa-bars {
        display: block;
    }
    .navbar {
        padding: 5px;
    }
    .navbar div .shopco {
        right: 0;
        left: 60px;
        z-index: 10;
        
    }
}
.navbar div .shopco1 {
    left: 10px;
}
/* <--------------- important-container -------------> */
.important-container {
    width: 100%;
    min-height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.important-container .important {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-bottom:2px solid silver ;

}
.important-container .important div {
    width: 80%;
    border: 2px solid chocolate;
    border-left: 15px solid chocolate;
    border-radius: 5px;
    padding: 20px;
}
.important-container > .important div{
    color: chocolate;
    font-size:large;
}
.important-container > .important div span {
    color: black;
}
.important-container .important h1 {
    font-size: 30px;
}
.important-container .content  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.important-container .content figcaption {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.important-container .content  section {
    width: 300px;
    min-height:100px ;
    display: flex;
    border: 1px solid silver;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
}
.important-container .content  section:hover {
    background-image: linear-gradient(to bottom, white 50%,silver);
    cursor: pointer;
    border: 1px solid deepskyblue;
}
.important-container .content  section:hover > figure > h3 {
    color: deepskyblue;
}

.important-container .content img {
    width: 80px;
    height: 50px;
    margin: 10px;
}
/* <----------- project-details----------> */

@media screen and (min-width:300px) and (max-width:630px) {
    .project hr {
        display: none;
    }
    .cloth-container .shirt, aside {
        flex-direction: column;
    }

}
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.details p:hover, h1:hover {
    color: deepskyblue;
}
.details .image {
    background-color: black;
    text-align: center;
}
.details .logoo {
    background-color: black;
    width: 300px;
    height: 50px;
    margin: auto;
    padding: 5px;
}

.my-profile {
    background-color: black;
    width: 100%;

}
.my-profile img {
    width: 200px;
}
.my-profile section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: white;
}
.my-profile div {
    width: 250px;
    padding: 20px;
}
.my-profile h3 {
    padding: 15px 0px;
    display: block;
}
.my-profile p {
    color: rgb(130, 122, 122);
}
.my-profile figure i {
    font-size: 15px;
    background-color: deepskyblue;
    padding: 5px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.project section img {
    width: 200px;
    height: 80px;
    margin-top: 10px;
}
